# Created by venv; see https://docs.python.org/3/library/venv.html
# Ignore virtual environment directories
venv/
Lib/
Include/
Scripts/
pyvenv.cfg

# Optionally, ignore OS-specific files
*.pyc
__pycache__/

# Allow these files and directories:
!.gitignore
!*.py
!requirements.txt
!data/
!chroma_db/
